In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
visa_df=pd.read_csv("visadataset.csv")

In [27]:
cat_columns=visa_df.select_dtypes(include='object').columns
num_columns=visa_df.select_dtypes(exclude='object').columns
cat_columns,num_columns

(Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
        'requires_job_training', 'region_of_employment', 'unit_of_wage',
        'full_time_position', 'case_status'],
       dtype='object'),
 Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object'))

In [21]:
visa_df['continent'].value_counts().keys()

Index(['Asia', 'Europe', 'North America', 'South America', 'Africa',
       'Oceania'],
      dtype='object', name='continent')

In [37]:
continents=visa_df['continent'].unique()

In [31]:
visa_df['case_status'].unique()

array(['Denied', 'Certified'], dtype=object)

In [35]:
con1=visa_df['continent']=='Asia'
con2=visa_df['case_status']=='Certified'
con3=con1&con2
len(visa_df[con3])

11012

In [51]:
Certified_Count=[]
for i in continents:
    con1=visa_df['continent']==i
    con2=visa_df['case_status']=='Certified'
    con3=con1&con2
    Certified_Count.append(len(visa_df[con3]))
Certified_Count

[11012, 397, 2037, 2957, 493, 122]

In [53]:
Denied_Count=[]
for i in continents:
    con1=visa_df['continent']==i
    con2=visa_df['case_status']=='Denied'
    con3=con1&con2
    Denied_Count.append(len(visa_df[con3]))
Denied_Count

[5849, 154, 1255, 775, 359, 70]

In [59]:
DF1=pd.DataFrame(zip(continents,Certified_Count),columns=['continents','Certified_Count'])
DF1

      continents  Certified_Count
0           Asia            11012
1         Africa              397
2  North America             2037
3         Europe             2957
4  South America              493
5        Oceania              122

In [61]:
DF2=pd.DataFrame(zip(continents,Denied_Count),columns=['continents','Denied_Count'])
DF2

      continents  Denied_Count
0           Asia          5849
1         Africa           154
2  North America          1255
3         Europe           775
4  South America           359
5        Oceania            70