- Strings

- Lists

- Dictionary

- tuples

- sets

- Lambda function

- File handling

## Strings

- strings can intialize in three ways

    - single quotes
 
      - very common way to present

    - double quotes
 
        - Double quotes also very common way to present 

    - triple quotes

      - Triple quoutes means **doc string**

In [1]:
str1='python'
str1

'python'

In [2]:
type(str1)

str

In [3]:
str2='PYTHON'
str3='10.5'
str4='10'
str5='True'
str6="&$"

**triple quotes**

- triple quotes is used to convey the information

- it is also called as **Doc string**

- it is also called as **multiline**

In [5]:
str7="""Hello how are you
      Im good"""
print(str7)

Hello how are you
      Im good

In [6]:
str8="I like 'python'"
str8

"I like 'python'"

- type

- print

- len

- max

- min

- reversed

- sorted

- in 

- index 

- slice

**type**

- type is a keyword , it will give the trype of value

In [8]:
str1='python'
type(str1)

str

** what is the difference between keywords and package methods**

- keyword is reserved word

- different methods are avaliable on different packages

- we have limited keywords are there : 35 keywords are there
   these are fixed

- whenever any keyword : keyword(value)

- before keyword there is another statement

- there is no dot before keyword

    - eval()

    - input()

    - type

    - range

    - print

- if you want use methods from package

    - you need to import the package

    - or packagename.methodname

In [ ]:
eval()
input()
type()
print()

random.randint
time.sleep

**len**

In [10]:
str1='python'
len(str1), len('naresh it')

(6, 9)

In [13]:
len('  ')

2

**max**

- it will retrive the maximum charcter based on ascii value

In [14]:
s1='python'
max(s1)

'y'

In [15]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

**min**

- it will retrive the maximum charcter based on ascii value

In [17]:
s1='python'
min(s1)

'h'

**sum**

- It will return the sum of the values

- It will not works for strings

- It will works for numbers

In [18]:
sum('123'), sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Reversed**

In [21]:
str1=reversed('python')
for i in str1:
    print(i)

n
o
h
t
y
p

**Note**

- whenever you see the output between inside greater than  and less than symbol

- Means the output is stored inside that

- It is nothing but a **iterator**

- Iterator means the output we can see using loop only

**sorted**

- Will give the output ascending order or descending order based on ascii values

- Sorted has one argument called reverse

- reverse is a default arguement with value False

- False means it retruns in ascending order

- acesnding means small to big

- Now give reverse=True and check the order

- It should be descending order

- descending meang bigs to small


**Note**

- Always try to see what is there in side brackets : shift+tab

- if you see any term like iterator, you need to apply loop

- In the function call if we see '/' operator, give the arguments directly

- example: reversed('python')  correct

    - reversed(sequence='python') wrong

In [23]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [22]:
sorted('python')

# [104,110,111,112,116,121]

['h', 'n', 'o', 'p', 't', 'y']

In [24]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [25]:
sorted(iterable='python',reverse=True)
# If you see any / 
# do not assign any arguments before the slash

TypeError: sorted expected 1 argument, got 0

In [29]:
complex() # it is written
complex(2,3) # w
complex(real=2,imag=3) # w
complex(real=2,3) # F
complex(2,imag=3) # w

# why failed for complex(real=2,3)

(2+3j)

In [27]:
import random
random.randint()  # F
random.randint(10,20) # w
random.randint(a=10,b=20) # w
random.randint(c=20,d=50) # F
random.randint(a=10,20)
random.randint(10,b=20)

In [ ]:
0+0j
0j
0
NT

**in**

In [32]:
## WAP ask the user get the number of 'a' in a given string
str1='hello how are you, im anand'
# count=0
# iterate through each letter
# if that letter equal to 'a'
# then count=count+1

count=0
for i in str1:
    if i=='a':
        print(i)
        count=count+1

print(count)

# step-1: i='a'  if 'a'=='a'   True

a
a
a
3

- intialisation of strings 

- type

- print

- len

- min

- max

- sorted

- reversed

- in

**index**

In [1]:
str1='hello python'
# In python index start with zero
str1[0]
str1[1]
str1[2]
str1[3]

str1[i]

'h'

In [ ]:
h  e   l   l   o     p   y   t   h   o   n
0  1   2   3   4  5  6   7   8   9  10   11

In [4]:
len(str1)

12

In [3]:
for i in range(12):
    print(i,str1[i])

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [5]:
str1='naresh it'
n=len(str1)
for i in range(n):
    print(i,str1[i])

0 n
1 a
2 r
3 e
4 s
5 h
6
7 i
8 t

In [ ]:
-12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
 h    e    l   l    o       p   y   t   h   o   n
 0    1    2   3    4  5    6   7   8   9  10   11

In [8]:
str1='hello python'
str1[-12], str1[0]

('h', 'h')

In [10]:
str1[-12]
str1[-11]
str1[-10]

# hello python
# -12  -1

'l'

In [12]:
for i in range(-12,0):
    print(i,str1[i],end=' ' )

-12 h -11 e -10 l -9 l -8 o -7   -6 p -5 y -4 t -3 h -2 o -1 n

In [13]:
str1='hello python'
n=len(str1)
for i in range(-n,0):
    print(i,str1[i] )

-12 h
-11 e
-10 l
-9 l
-8 o
-7
-6 p
-5 y
-4 t
-3 h
-2 o
-1 n

**postive index**

In [ ]:
str1='naresh it'
n=len(str1)
for i in range(n):
    print(i,str1[i])

**negative index**

In [ ]:
str1='hello python'
n=len(str1)
for i in range(-n,0):
    print(i,str1[i] )

In [ ]:
#Q2) WAP to print the each letter index postive way
#    the postive index of h is  0
#    the postive index of e is 1

#Q3) WAP to print the each letter index negative way
#    the negative index of h is  -12
#    the negative index of e is -11

#Q4) WAP to print the each letter index postive and negative way(single for loop)
#    the postive index of h is  0 and negative index of h is -12
#    the postive index of e is 1  and negative index of e is -11

In [ ]:
#Q2) WAP to print the each letter index postive way
#    the postive index of h is  0
#    the postive index of e is 1
str1='hello python'
n=len(str1)
for i in range(n):
    print(i,str1[i])

In [24]:
# for i in range(len(str1)):
#     print(i,end=' ')

# for i in range(-len(str1),0):
#     print(i)

for i in range(len(str1)):
    print(i,i-len(str1))

# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11

0 -12
1 -11
2 -10
3 -9
4 -8
5 -7
6 -6
7 -5
8 -4
9 -3
10 -2
11 -1

In [25]:
for i in range(len(str1)):
    print(f"the positive index of {str1[i]} is {i}")

the positive index of H is 0
the positive index of e is 1
the positive index of l is 2
the positive index of l is 3
the positive index of o is 4
the positive index of   is 5
the positive index of P is 6
the positive index of y is 7
the positive index of t is 8
the positive index of h is 9
the positive index of o is 10
the positive index of n is 11

In [26]:
for i in range(len(str1)):
    print(f"the negative index of {str1[i]} is {i-len(str1)}")

the negative index of H is -12
the negative index of e is -11
the negative index of l is -10
the negative index of l is -9
the negative index of o is -8
the negative index of   is -7
the negative index of P is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [28]:
for i in range(len(str1)):
    print(f"the positive index of {str1[i]} is {i} and the negative index of {str1[i]} is {i-len(str1)}")

the positive index of H is 0 and the negative index of H is -12
the positive index of e is 1 and the negative index of e is -11
the positive index of l is 2 and the negative index of l is -10
the positive index of l is 3 and the negative index of l is -9
the positive index of o is 4 and the negative index of o is -8
the positive index of   is 5 and the negative index of   is -7
the positive index of P is 6 and the negative index of P is -6
the positive index of y is 7 and the negative index of y is -5
the positive index of t is 8 and the negative index of t is -4
the positive index of h is 9 and the negative index of h is -3
the positive index of o is 10 and the negative index of o is -2
the positive index of n is 11 and the negative index of n is -1

In [ ]:
for i in range(len(str1)):
    print(f"the positive index of {str1[i]} is {i}")

for i in range(len(str1)):
    print(f"the negative index of {str1[i]} is {i-len(str1)}")

for i in range(len(str1)):
    print(f"the positive index of {str1[i]} is {i} and the negative index of {str1[i]} is {i-len(str1)}")

In [ ]:
# Q5) WAP ask the user get the indexes of occurences of 'a' in a given string
# str1='avaialable'

# Iterate through str1
# apply the if condition if charcter == a
# then print that i

**when to use in and when to use range operator**

**Note**

- in operator  'i'  represents directly a letter

- range operator 'i' represents a number

- if you want to print the letters using range operator

  then indexing

In [29]:
# In this case  i ===== > represents  letter
str1= 'available'
for i in str1:
    print(i)

a
v
a
i
l
a
b
l
e

In [31]:
# In this case  i ==== > represents a number i.e. index
str1= 'available'
for i in range(len(str1)):
    print(str1[i])

a
v
a
i
l
a
b
l
e

In [32]:
str1= 'available'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)

# i=0  str1[0]='a'  a=='a'   True  print(o)
# i=1  str1[1]=='a'  'v'=='a'  False
# i=2  str1[2]=='a'  'a'=='a'   True  print(2)

0
2
5

In [33]:
#Q6)Print  the  1 occurence of 'a' index is 0
#       the 2 occurence of 'a' index  is 2
#       the 3 occurence of 'a' index   is 5

count=0
str1= 'available'
for i in range(len(str1)):
    if str1[i]=='a':
        count=count+1
        print(f"the {count} occurence of 'a' is {i}")

the 1 occurence of 'a' is 0
the 2 occurence of 'a' is 2
the 3 occurence of 'a' is 5

In [34]:
# Q7)  Get the sum of all the indexes
#      Get the count of all occurences :3
str1 = "available"
count = 0
summ = 0
for i in range(len(str1)):
    if str1[i]=='a':
        count = count+1
        summ = summ+i
print(f"The count of indexes of all occurence of 'a' is {count}")
print(f"The sum of indexes of all occurence of 'a' is {summ}")

The count of indexes of all occurence of 'a' is 3
The sum of indexes of all occurence of 'a' is 7

In [ ]:
#Q8) 
# A)Find the vowels in the given string
# str1: hai how are you
# B)Find the indexes of vowels
# C)Find the count of the vowels
# D)Find the sum of before index of vowels

In [35]:
str='hi how are you'
for i in range(len(str)):
    if str[i] in 'aeiou':
        print(str[i], end=' ')

# 'h' in 'aeiou'   False
# 'i'  in 'aeiou'  True

i o a e o u

**mutable-immutable**

- Values can not change using Index operations called as **immutable**

- some thing can be change

- here if we want to change a prticular letter at particular index

- 'hello' :  3rd index is 'l', i want to change 'l' to 'L'

- 'heLlo'

- **by using index operation**

- **STRINGS ARE IMMUTABLE**

In [2]:
# I want replace 'p' with 'P'
str1='python'
str1[0]='P'

TypeError: 'str' object does not support item assignment

In [4]:
l=[10,20,30]
l[0]=100
l

[100, 20, 30]

- mutable:  it can change

- imutable: it can't change

- **strings are immutable**

**slice**

- cut into pieces

- which means we can extract some part of string

- For that we need to undertsand the start , stop, step

- s[start:stop:step]

$pattern-1$

**str1[:stop]**

- Nothing mentioned at start place:  0

- direction nothing mentioned means postive

- step size also nothing mentioned means 1
  
- last=stop-1

In [3]:
str1="hai how are you"
# start=0
# last =(stop)-1   stop:3
#  range(0,3)  or  range(3)
# str1[start:stop]

str1[4]  # index
str1[:4] #  <start>:<stop>
# Nothing mentioned means '0'
# 0  1  2  3
# h  a  i  ''

'hai '

$pattern-2$

**str1[start:]**

In [4]:
str1="hai how are you"
str1[5:]
# start=5
# nothing mentioned means till last
# direction nothing mentioned is postive
# step  size nothing mentioned means +1

'ow are you'

$pattern-3$

**str1[:]**

- Nothing mentiond at start place: 0

- Nothing mentioned at last place:  till end

- Direction +ve

- step  1

$pattern-4$

str1[start:stop]

- start place means : start value

- direction postive

- step size +1
  
- last= stop-1

$pattern-5$

**str1[start:stop:step]**

- start place means: start value

- step value direction postive

    - last= stop-1
 
- step value direction negative:

   - last= stop+1

In [6]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11

str='hello python'
str[2:10] 
# start=2
# direc=postive
# last=stop-1=10-1=9

'llo pyth'

In [7]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11
str='hello python'
str[2:10:2]

'lopt'

In [8]:
str='hello python'
str[2:10:-2]
# strat=2
# direction= -negative
# last= stop+1= 10+1=11
# 2 ===== 11  (actual postive)
# code says negative it is not possibile

''

In [10]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11
str='hello python'
str[7:-12:-2]

'y le'

In [14]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11
str='hello python'
str[2:-4:2]

# start=2
# dire=posr
# last=stop-1= -4-1=-5

'lop'

In [ ]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11
str1[2:12:2] # P
str1[2:12:-2] # NP
str1[2:-12:2] # NP
str1[2:-12:-2] # P
str1[-2:-12:-2] # P
str1[-2:12:2] # P ============== 
str1[-2:-12:2] # NP
str1[:]#  ALL
str1[2:] # start=2  last=last
str1[:12] # start=0  last=12-1=11
str1[::]  # start=0  last=last step=1
str1[::-1] # reverse string

In [16]:
str1[-2:20:2]

'o'

In [19]:
str1[-2:12:2]
# start=-2
# direction=postive
# last= 12-1=11
# step=2

'o'

In [22]:
# -12  -11  -10  -9  -8  -7  -6  -5  -4   -3  -2  -1                                     -2    -1
#  h    e    l   l    o       p   y   t   h   o   n
#  0    1    2   3    4  5    6   7   8   9  10   11
str='hello python'
str[2::-2] 
# start=2
# last =-12

'lh'

In [24]:
str1[<start>:<stop>:<step>]

'python'

In [26]:
str[::-1]

'nohtyp olleh'

- type

- len

- max

- min

- sum

- reveresed

- sorted

- in

- not in

- for loop iterate 

- index

- mutable immutable

- slice

**concatenation**

In [29]:
str1='hello'
str2='python'
str1+str2
str1+' '+str2

'hello  python'

In [ ]:
str1*str2  # error
str1-str2  # error
str1/str2  # error

In [30]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
str1='hello '
str1*3

'hello hello hello '

In [38]:
str1+str1+str1

'hello hello hello '

In [33]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [34]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# Q1) Print the postive index of each letter
# Q2) Print the negative index of each letter
# Q3) Print the postive and negative index of each letter
# Q4) Wap ask to print the index of all 'a'  in a given string
# Q5) Wap ask to print the number of 'a's  in a given string
# Q6) Wap ask to print the sum of the index of all 'a'  in a given string
# Q7) Wap to find the vowels in a given string
# Q8) wap to find the number of vowels in a given string
# Q9) wap to find the indexes of vowels in a given string
# Q10) wap to find the sum of the indexes of vowels in a given string
# Q11) wap to find the unique vowels in a given string

**String part-2**

**String methods**

- you need to treat strings is a package

- so apply dir on any string we will get the methods

In [39]:
s='python'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# how to call the keyword
  keyword()
# methods
#  package.method

$capitalize$

Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower

In [48]:
str='python'
str.capitalize()

'Python'

In [45]:
import random
random.randint(10,20)

11

In [46]:
complex()

0j

In [ ]:
- upper

- lower

- casefold

- center

$upper$

In [49]:
str.upper()

'PYTHON'

In [50]:
str.lower()

'python'

$casefold$

**Return a version of the string suitable for caseless comparisons**

In [51]:
str.casefold()

'python'

$center$

In [53]:
str.center(10,'$')
# total new string width =10
# already given string len=6
# so extra 4 $ will add
# string should be in center
# 2$ are left side 2$ are right side

'$$python$$'

In [54]:
str.center(11,'$')

'$$$python$$'

In [55]:
'python'.center(2,'$')

'$$$$$ $$$$$'

In [57]:
'python'.center(7,'$')

'$python'

**unique vowels or items**

- always make an empty string

- iterate the letters of original string through for loop

- whenever vowel condition match keep that letter in empty string

- now onwards do the two checks

    - is that vowels

    - is that present in that new string

In [5]:
str1='aabbccddee'
str2=''
for i in str1:
    if i in 'aeiou':
        if i not in str2:
            str2=str2+i
len(str2)

2

In [6]:
str1='aabbccddee'
str2=''
for i in str1:
    if i in 'aeiou' and i not in str2:
        str2=str2+i
len(str2)

#i ='a'  if  'a' in 'aeiou' and 'a' not in ''     True   str2=''+'a'='a'
# i='a'  if  'a' in 'aeiou'  and 'a'  not in 'a'   <>

2

In [7]:
'a'  not in 'a'

False

In [8]:
str9= 'aabbccddee'
str10=' '
for i in str9:
    if i in 'aeiou' and i not in str10:
        str10=str10+i
len(str10)

3

In [9]:
str10

' ae'

- Capitalize

- upper

- lower

- center

- casefold

In [11]:
str='python'
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
str.title()

'Python'

In [13]:
# Q: 12) str='hello how are you'
# op: 'Hello How Are You'
str='hello how are you'
str.title()

'Hello How Are You'

In [14]:
str='hello how are you'
str.capitalize()

'Hello how are you'

$Count$

In [15]:
str1='hai how are you' 
str1.count('a')

2

In [16]:
count=0
for i in str1:
    if i=='a':
        count=count+1
count

2

In [21]:
str1='ola ola ola' 
str1.count('z')

0

In [27]:
# You want count the number of 'a'  after 5th index
# You want count the number of 'a'  between 5th and 10th index
str1='ola ola ola' 
str1.count('a',7)

1

In [30]:
str1='ola ola ola' 
str1.count('a',4,10)

# 10-1=9
str1[4:10]

'ola ol'

In [31]:
str1='ola ola ola' 
str1.count('a',4,21)

2

- Note: There is no error in count

In [ ]:
# Q13 with out using count find the number of 'ola'
str1='ola'
# ans=3
for i in str1:
    if i=='ola'   # 'o' =='ola'

# clue: index
# i:i+3

$replace$

In [32]:
str1='helo'
# I want to replace 'l' with 'L'
# This we are not able to do with index operations
# That's why we are calling strings are immutable

#But this is possibile using replace

In [33]:
str1.replace('l','L')

'heLo'

- In replace we have count=-1 as default value

- which means it will replace all the letters 

- So If i want replace only one later can i give the count value? Yes

- / means do not give the argument names , directly provide the value

In [34]:
str1='hellllo'
str1.replace('l','L')  # count=-1

'heLLLLo'

In [38]:
str1='hellllo'
str1.replace('l','L',2)  # count=2

'heLLllo'

In [39]:
str1='hellllo'
str1.replace('z','L')

'hellllo'

- Read the doc string carefully

- In that it will mention we wil get error at particular incident

- For count method we will not get any error 

- There is no substring found, then ans will be zero

- For replace also we will not get any error

- If there is no substring found, then the ans will be original string

In [40]:
# Q14) wap ask the user replace the string
# input str: 'restart'
# op :  'resta$t'
str1='restart'
str1.replace('r','$')

'$esta$t'

In [41]:
str1='restart'
str1.replace('r','$',1)

'$estart'

In [49]:
str2=str1[::-1] # Reverse 
str3=str2.replace('r','$',1) # repalce 1st occurenace
str4=str3[::-1] # reverse it
str4

'resta$t'

In [50]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [56]:
s1=str1[0]  # 'r'
s2=str1[1:] # 'estart'
s3=s2.replace('r','$') # 'esta$t'
s1+s3

'resta$t'

$index$

- index will give the index of letter in a given string

- By default It will provide the first occurence of letter only

- If you want next occurence index of same letter you need to give start,stop

- Like we given in count method

In [60]:
str1='restart'
str1.index('r')

0

In [62]:
# I want second r
str1.index('r',1)

5

In [ ]:
r  e  s  t  a  r  t
0  1  2  3  4  5  6

my eyes will not consider first  'r'  0
my eyes are looking from index 1

In [68]:
str1='hai hai hai hai hai'
      
i1=str1.index('a')  # 1
i2=str1.index('a',i1+1) # 5
i3=str1.index('a',i2+1) # 9
i4=str1.index('a',i3+1)
i5=str1.index('a',i4+1)

i1,i2,i3,i4,i5

(1, 5, 9, 13, 17)

In [ ]:
'hai hai hai hai'
a=1
hai hai hai hai
  i hai hai hai'
      i hai hai
          i hai

$count$-$replace$-$index$

In [1]:
str1='python'
str1.count('z')

0

In [2]:
str1='python'
str1.replace('z','Z')

'python'

In [3]:
str1='python'
str1.index('z')

# z= substring
# z is not present python

ValueError: substring not found

In [6]:
str1='hai hai hai hai'
str1.count('a')  # total 'a'
str1.count('a',4) # we want to count 'a' from index 4
str1.count('a',5,9) # start at 5 and end at 9-1=8

1

In [7]:
str1='hai hai hai hai'
str1.find('a')
# index of 'a'
# but so many 'a' are there
# by defualt it will give first occurence index

1

In [11]:
str1='hai hai hai hai'
i1=str1.find('a')
i2=str1.find('a',i1+1)  # 5
i3=str1.find('a',i2+1)
i4=str1.find('a',i3+1)
i1,i2,i3,i4

(1, 5, 9, 13)

In [13]:
str1='Manasi  Manasi'
# index of 'M'
i1=str1.find('M')  # 0
str1.find('M',i1+1)

8

In [14]:
count=0
str1='Monishh Monishh Monishh'
for i in range(len(str1)):
    if str1[i:i+7]=='Monishh':
        count=count+1
count
# step-1   i=0   if str1[0:3] == 'ola'  True  count=1
# step-2   i=1   if str1[1:4]  la ='ola' False

3

$find$

In [16]:
str1='hai hai hai hai'
str1.find('z')

-1

In [18]:
str1='hai hai hai hai'
i1=str1.find('a')
i2=str1.find('a',i1+1)  # 5
i3=str1.find('a',i2+1)
i4=str1.find('a',i3+1)
i5=str1.find('a',i4+1)
i1,i2,i3,i4,i5

(1, 5, 9, 13, -1)

In [19]:
str1='hai hai hai hai'
i1=str1.index('a')
i2=str1.index('a',i1+1)  # 5
i3=str1.index('a',i2+1)
i4=str1.index('a',i3+1)
i5=str1.index('a',i4+1)
i1,i2,i3,i4,i5

ValueError: substring not found

**if substring not found**

- do the shift+tab understand the docstring

- if they mentioned any error or not

- for count and replace they did not mention any error

- for index error is mentioned 

- for find it is mentioned as -1

- Count  will give zero

- Replace will give same string

- index will give error

- find will give -1

In [22]:
def substring(main_str,s_s):
    count=0
    for i in range(len(str1)):
       if str1[i:i+len(s)]==s:
           count=count+1
    return(count)

count=substring(<>,<>)

3

In [ ]:
# Q15)

name='omkar.nallagoni@cognizant.com'
# first name='omkar'
# s_name='nallagoni'
# c_name='cognizant'

'virat.kohli@rcb.com'
'rohit.sharma@mi.com'
'kl.rahul@lsg.con'
'a.b@c.com'

first_name='omkar'
second_name='nallagoni'
c_name='congnizant'
print(f"{first_name}.{second_name}@{c_name}.com")

In [27]:
name='omkar.nallagoni@cognizant.com'
i1=name.find('.')
i2=name.find('@')
i3=name.find('.',i1+1)

f_name=name[0:i1]
s_name=name[i1+1:i2]
c_name=name[i2+1:i3]
f_name,s_name,c_name

('omkar', 'nallagoni', 'cognizant')

In [28]:
def name_extraction(name):
    i1=name.find('.')
    i2=name.find('@')
    i3=name.find('.',i1+1)
    
    f_name=name[0:i1]
    s_name=name[i1+1:i2]
    c_name=name[i2+1:i3]
    print(f_name,s_name,c_name)
name_extraction('virat.kohli@rcb.com')

virat kohli rcb

In [ ]:
- capitalize /Title

- center

- upper /lower/casfold

- count

- replace

- index /find

In [29]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [32]:
'abc'.isalnum()

True

In [34]:
'ABC'.isupper()

True

$strip$-$lstrip$-$rstrip$

In [35]:
name1=' python '
name2='python '
name3=' python'

In [36]:
name1.strip(),name1.lstrip(),name1.rstrip()

('python', 'python ', ' python')

In [37]:
name2.strip(),name2.lstrip(),name2.rstrip()

('python', 'python ', 'python')

In [38]:
name3.strip(),name3.lstrip(),name3.rstrip()

('python', 'python', ' python')

In [43]:
name4=' python$$$'
name4.lstrip().rstrip('$')

'python'

In [44]:
name4.strip().strip('$')

'python'

In [45]:
name4.strip('$').strip()

'python'

In [ ]:
name4=' python$$$'
name4.lstrip().rstrip('$')
name4.strip().strip('$')
name4.strip('$').strip()
name4.rstrip('$').lstrip()

In [47]:
name4=' python$$$'
n5=name4.lstrip()
n5.rstrip('$')

'python'

$split$

In [48]:
str='hello how are you'
str.split()

['hello', 'how', 'are', 'you']

In [49]:
str1='hello how, are you'
str1.split(',')

['hello how', ' are you']

In [ ]:
str2='hello how, are you'
str2.split('o')

$startswith$-$endswith$

In [52]:
str='hello how are you'
str.startswith('hello how are you')

True

In [53]:
str.startswith('u')

False

In [54]:
str='hello how are you'
str.endswith('hello how are you')

True